.labelTab {
  text-align: center;
}

.modal-title {
  color: #fff;
  margin-bottom: 0px;
  margin-top: 0px;
}

.content {
  // opacity: .2;
  background: rgba($color: #e22d3f, $alpha: .7);

  --background: rgba($color: #e22d3f, $alpha: .7) !important;
}

ion-col {
  margin-bottom: 20px;
  color: rgba($color: #000000, $alpha: 1.0)
}

.btn-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.input {
  background: #fff;
  border-radius: 6px;
  padding-left: 10px;
  --padding-start: 10px !important;
  --highlight-color-focused: var(--middle-red);
  --highlight-color-valid: transparent;
  min-height: 44px;
}

ion-checkbox {
  --size: 26px !important;
  --checkbox-background-checked: var(--middle-blue) !important;
  --checkbox-background: #f86271;
  color: #fff;
  font-size: 14px;
}

ion-checkbox::part(container) {
  border-radius: 2px;
  border: 2px solid #fff;
}

.btn {
  --background: var(--middle-blue) !important;
  min-width: 130px;
}

.form__btmText {
  color: #fff;
  font-size: 18px;
}

.message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}

.message-content {
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.5s ease-out both;
}

.message-content ion-icon {
  font-size: 48px;
  color: #4CAF50;
  margin-bottom: 10px;
  animation: pulse 2s infinite;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

ion-item {
  --min-height: 0px;
  --background-hover: none;
  --background-activated: none;
  --ripple-color: transparent;
  --padding-top: 10px;
  --padding-bottom: 10px;
  border-radius: 10px;
}

ion-select {
  background: #F2F4F8;
  padding: 0px;
  border-radius: 8px;
  border: 1px solid #F2F4F8;
  height: 40px;
  --padding-end: 0px;
  --padding-bottom: 0px;
  --padding-top: 0px;
  --padding-start: 10px;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

ion-select::part(icon) {
  color: #232222;
  opacity: 1;
  position: absolute;
  right: 10px;
  width: 14px;
  height: 14px;
}

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
  font-size: 12px;
  color: var(--grey-dark);
}

ion-select::part(text) {
  color: var(--black-dark);
}

.error-message {
  margin-top: 10px;

  span {
    color: var(--error-message);
    text-transform: capitalize;
    font-size: 12px;

    font-style: italic;
  }
}

.row-dates {
  padding-top: 10px;

  ion-col {
    color: #fff;
    font-size: 14px;
  }
}