<ion-header class="header ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content" forceOverscroll="false" *ngIf="order">
  <form [formGroup]="bookForm" (ngSubmit)="confirm()">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <h2 class="modal-title" *ngIf="!isNotEdit">Редактирование заказа</h2>
          <h2 class="modal-title" *ngIf="isNotEdit">Информация о заказе</h2>
        </ion-col>
      </ion-row>
      <ion-row class="row-dates ion-align-items-center">
        <ion-col size="6">
          Дата заказа: {{ getFormatDate(order.date) }}
        </ion-col>
        <ion-col size="6" *ngIf="!isNotEdit">
          Планируемая дата доставки:
          {{ getFormatDate(order.date_PlanDelivery) }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item
            class="item-question"
            lines="none"
            *ngIf="!isNotEdit; else textStatus"
          >
            <ion-label>
              <ion-text>Статус</ion-text>
              <ion-select
                toggleIcon="chevron-down-outline"
                justify="space-between"
                interface="action-sheet"
                formControlName="status"
                placeholder="Выберите статус"
                toggleIcon="caret-down-outline"
                expandedIcon="caret-up-outline"
              >
                <ng-container *ngIf="statusesKeys.length > 0">
                  <ion-select-option
                    class="container__option"
                    *ngFor="let status of statusesKeys"
                    [value]="status"
                    >{{ statusesWithDesc[status] }}</ion-select-option
                  >
                </ng-container>
              </ion-select>
            </ion-label>
          </ion-item>
          <ng-template #textStatus>
            <div class="order">
              <div class="order__line">
                <span>Статус заказа: </span>
                <span class="status">{{ statusesWithDesc[order.status] }}</span>
              </div>
            </div></ng-template
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-input
            type="number"
            class="input"
            label-placement="floating"
            fill="solid"
            [value]="order.count"
            [disabled]="true"
          >
            <div slot="label">Количество</div>
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-input
            class="input"
            label-placement="floating"
            fill="solid"
            [value]="order.request.name_user"
            [disabled]="true"
          >
            <div slot="label">Имя клиента</div>
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-input
            class="input"
            label-placement="floating"
            fill="solid"
            type="email"
            [value]="order.request.email"
            [disabled]="true"
          >
            <div slot="label">Email</div>
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-input
            class="input"
            label-placement="floating"
            fill="solid"
            placeholder="+7 (xxx) xxx-xxxx"
            [value]="order.request.email"
            [disabled]="true"
          >
            <div slot="label">Телефон</div>
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-textarea
            class="input"
            label-placement="floating"
            fill="solid"
            type="text"
            formControlName="address"
            [disabled]="isNotEdit"
          >
            <div slot="label">Адрес<ion-text>*</ion-text></div>
          </ion-textarea>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-textarea
            class="input"
            label-placement="floating"
            fill="solid"
            type="text"
            formControlName="desc"
            [disabled]="isNotEdit"
          >
            <div slot="label">Комментарий к заказу</div>
          </ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-row>
            <ion-col size="12">
              <ion-input
                class="input"
                label-placement="floating"
                fill="solid"
                placeholder="+7 (xxx) xxx-xxxx"
                [value]="order.worker.name"
                [disabled]="true"
              >
                <div slot="label">Ответственный</div>
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!isNotEdit">
        <ion-col>
          <span class="form__btmText">*Поля обязательные к заполнению</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="btn-row">
          <ion-button
            *ngIf="!isNotEdit"
            shape="round"
            type="submit"
            class="btn ion-justify-content-between"
            [disabled]="isDisable"
          >
            <div class="btn__wrapper">
              <span slot="start">Отправить</span>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
