// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --black: #000;
    --middle-blue: #003250;
    --middle-red: #e22d3f;
    --white: #fff;
    --footer: #231F20;
    --bg: #F4F9F9;
    --ion-color-primary: #003250;
    --bg-home: #040503;
    --product-filters: #6C6C6C;

}