.wrapper {
  background: var(--bg-home);
}

.container {
  max-width: 1300px;
  margin: auto;
}

.main {
  &__search {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;

    ion-button {
      flex: 0 0 auto;
      --background: var(--white);
      --background-activated: transparent;
      --box-shadow: none;
      --border-width: 0px;
      --padding-top: 14px;
      --padding-start: 14px;
      --padding-end: 14px;
      --padding-bottom: 14px;

      ion-icon {
        color: var(--bg-home);
        font-size: 30px;
      }
    }

    ion-searchbar {
      --border-radius: 10px;
      --background: var(--white);
      padding: 0 !important;
      margin: auto;
      max-width: 500px;
      --placeholder-color: var(--bg-home);
      --color: var(--bg-home);

      .searchbar-input-container {
        input {
          padding-top: 20px !important;
          padding-bottom: 20px !important;
          height: 100%;
        }
      }

    }
  }

}


@media (min-width:800px) {
  .main {

    &__search {
      ion-searchbar {
        margin: 0;
      }
    }
  }




}





.wrapper {
  min-height: 100vh;
  overflow: auto;

  .menu {
    position: relative;
    z-index: 2;
  }

  .content {
    height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    margin-top: -10px;
    position: relative;
    z-index: 1;
    background: var(--bg-home);
  }
}

.wrapper__loader {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  border: 8px solid #d1d0d0;
  border-radius: 50%;
  border-top: 8px solid #df3636;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.video__container {
  background: var(--bg-home);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-title {
  text-transform: uppercase;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}

.menu__title {
  margin: 10px 0px;
  max-width: 320px;
}

video::-webkit-media-controls {
  display: none !important;
}

video::-moz-media-controls {
  display: none !important;
}

video::-ms-media-controls {
  display: none !important;
}

video {
  pointer-events: none;
}