<div class="wrapper">
  <div class="container">
    <div class="menu">
      <app-menu>
        <!-- <h2 class="menu__title home-title">
          ТЕХНОЛОГИИ РАДИАЦИОННОЙ БЕЗОПАСНОСТИ
        </h2> -->
      </app-menu>
    </div>
    <div class="content">
      <div class="video__container">
        <video #video width="100%" height="auto" playsinline autoplay loop>
          <source src="assets/video.mp4" type="video/mp4" />
        </video>
      </div>

      <section class="categories" *ngIf="products && products.length > 0">
        <h3 class="home-title">Оборудование</h3>
        <app-cards [products]="products"></app-cards>
      </section>
    </div>
  </div>
</div>
