<ion-content [fullscreen]="true" forceOverscroll="false">
  <div class="header">
    <h2>Необработанные заявки</h2>
  </div>
  @if(!loader){
  <ion-grid class="container">
    <ion-row *ngIf="requests && requests.length > 0">
      <ion-col size-md="3" size-xs="12" *ngFor="let request of requests">
        <ion-card>
          <ion-card-header (click)="openModalOrder(request)">
            <ion-card-title
              >#{{request._id}}<ion-icon name="arrow-redo"></ion-icon
            ></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item class="ion-no-padding">
                <ion-label>
                  <p>Имя</p>
                  <ion-text>{{request.name_user}}</ion-text>
                </ion-label>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label>
                  <p>Телефон</p>
                  <ion-text>{{request.phone}}</ion-text>
                </ion-label>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label>
                  <p>Email</p>
                  <ion-text>{{request.email}}</ion-text>
                </ion-label>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label>
                  <p>Информация</p>
                  <ion-text>{{request.desc}}</ion-text>
                </ion-label>
              </ion-item>
              <ion-item lines="none" class="ion-no-padding">
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    [src]="request.product.img"
                  />
                </ion-thumbnail>
                <ion-label>{{request.product.name}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="!requests || requests.length === 0">
      <h4>Не обработанных заявок нет</h4>
    </ng-container>
  </ion-grid>

  } @else{
  <ion-grid class="container">
    <ion-row>
      <ion-col
        size-md="3"
        size-xs="12"
        style="background: rgba(255, 255, 255, 1); border-radius: 7px"
      >
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%; height: 320px; border-radius: 7px"
        ></ion-skeleton-text>
      </ion-col>
      <ion-col
        size-md="3"
        size-xs="12"
        style="background: rgba(255, 255, 255, 1); border-radius: 7px"
      >
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%; height: 320px; border-radius: 7px"
        ></ion-skeleton-text>
      </ion-col>
      <ion-col
        size-md="3"
        size-xs="12"
        style="background: rgba(255, 255, 255, 1); border-radius: 7px"
      >
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%; height: 320px; border-radius: 7px"
        ></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  }
</ion-content>
