<ion-grid class="container">
  <ion-row class="cards">
    <ion-col size="6" size-xl="4" *ngFor="let product of products">
      <ion-card class="card">
        <div class="card__imgWrapper">
          <div class="card__img">
            <img
              loading="lazy"
              alt="Product image"
              [src]="
                product.img ||
                'https://ionicframework.com/docs/img/demos/card-media.png'
              "
            />
          </div>
        </div>
        <hr class="line" />
        <ion-card-content class="card__content">
          <ion-card-title class="card__title">{{
            product.name
          }}</ion-card-title>
          <p *ngIf="isOrder" style="font-size: 12px">
            Количество на складе: <strong>{{ product.count }}</strong>
          </p>
          <p class="card__desc">{{ product.desc }}</p>
          <div class="card__btns">
            <div class="card__logo">
              <ion-button *ngIf="isOrder" [id]="product._id" expand="block">
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
              </ion-button>

              <ion-modal
                id="modal-update"
                reference="trigger"
                triggerAction="click"
                [trigger]="product._id"
              >
                <ng-template>
                  <div class="wrapper">
                    <h5>Обновить количество для "{{ product.name }}"</h5>
                    <ion-input
                      type="number"
                      [(ngModel)]="product.count"
                    ></ion-input>
                    <ion-button (click)="updateProductCount(product)"
                      >Отправить</ion-button
                    >
                  </div>
                </ng-template>
              </ion-modal>
            </div>
            <button
              *ngIf="!isOrder"
              class="card__btn"
              color="white"
              (click)="openModal(product)"
            >
              Оставить заявку
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>
            <button
              *ngIf="isOrder"
              class="card__btn"
              color="white"
              (click)="openModalOrder(product)"
            >
              Оформить заказ
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
