<ion-grid class="container">
  <ion-row class="cards">
    <ion-col size="6" size-xl="4" *ngFor="let product of products">
      <ion-card class="card">
        <div class="card__imgWrapper">
          <div class="card__img">
            <img
              loading="lazy"
              alt="Product image"
              [src]="
                product.img ||
                'https://ionicframework.com/docs/img/demos/card-media.png'
              "
            />
          </div>
        </div>
        <hr class="line" />
        <ion-card-content class="card__content">
          <ion-card-title class="card__title">{{
            product.name
          }}</ion-card-title>
          <p class="card__desc">{{ product.desc }}</p>
          <div class="card__btns">
            <div class="card__logo" style="opacity: 0">
              <img
                [src]="product.Brand_Logo"
                alt="Brand Logo"
                *ngIf="product.Brand_Logo; else defaultLogo"
              />
              <ng-template #defaultLogo>
                <img
                  src="https://ionicframework.com/docs/img/demos/card-media.png"
                  alt="Default Logo"
                />
              </ng-template>
            </div>
            <button
              class="card__btn"
              color="white"
              (click)="openModal(product)"
            >
              Оставить заявку
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
